$md-primary-color: $md-green-500;
$md-secondary-color: $md-lime-a-200;

// Colors
$white: #FFFFFF;
$white-light: #F5F5F5;
$black: #000000;
$gray: #E3E3E3;
$gray-dark: #3D3D3D;
$gray-light: #A9A9A9;
$blue: #00BCD4;
$black-light: #2B2D2E;
$red: red;
$green: #12b258;
$pink: #f2709c;

//  Font
$primaryFont: 'Roboto';
$primaryFontSize: 22px;

//  Buttons
$primaryButtonMargin: 1em;

//  Links
$primaryLinkFont: 'Roboto';
$lgLinkSize: 22px;
