@import '_globals';

.app-result-wrapper {
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.app-result-container {
  margin: 0px;
  padding: 0px;
}
.result-main-wrapper {
  background: $white-light;
  border: 1px solid $white;
  border-radius: 20px;
  height: 600px;
  margin: 0px;
  padding: 10px;
  position: absolute;
  top: 15%;
  max-width: 500px;
}
.result-title > h2 {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
}
.result-title > h1 {
  color: $pink;
  font-size: 26px;
  font-weight: 600;
  margin: 0px;
}
.result-description {
  border: 2px dashed $pink;
  margin: 20px 30px 10px;
  padding: 10px;
  height: 420px;
  overflow-y: auto;
  width: 400px;
}
.result-description::-webkit-scrollbar {
  width: 12px;
}
.result-description::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}
.result-description::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.result-description > h4 {
  color: $gray-light;
  font-size: 16px;
  margin: 0px;
}
.result-description > p {
  color: $gray-dark;
  font-size: 16x;
  margin: 0px;
}
.result-control > button {
  background-color: $pink;
  color: $white;
}
.result-item {
  margin: 0px;
  padding: 0px;
}
.result-item > p {
  margin-left: 40px;
}
.result-icon {
  color: $white;
  border-radius: 50%;
  height: 32px;
  padding: 7px;
  position: relative;
  top: 35px;
  width: 32px;
  font-size: 18px; 
}
i.red {
  background-color: $red;
  border: 1px solid #ff0459e3;
}
i.green {
  background-color: $green;
  border: 1px solid #97e2b8;
}